services:

  postgres-hmpps-person-record:
    deploy:
      resources:
        limits:
          cpus: 4
          memory: 4GB
    image: postgres:17.4
    ports:
      - "5432:5432"
    networks:
      - hmpps
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: dev
    tmpfs:
      - /var/lib/postgresql

  localstack-hmpps-person-record:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack-hmpps-person-record
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sns,sqs,s3
      - DEBUG=${DEBUG- }
      - PERSISTENCE=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - LS_LOG=trace
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "$PWD/src/test/resources/localstack/setup-aws.sh:/etc/localstack/init/ready.d/init-aws.sh"

networks:
  hmpps:
