nomis-oauth:
  base-url: https://sign-in-dev.hmpps.service.justice.gov.uk

offender-search:
  base-url: https://probation-offender-search-dev.hmpps.service.justice.gov.uk

domain_event_and_delius_api:
  base_url: https://domain-events-and-delius-dev.hmpps.service.justice.gov.uk

hmpps.sqs:
  enabled: true
  provider: localstack
  queues:
    cprcourtcaseeventsqueue:
      queueName: cpr_court_case_events_queue
      subscribeTopicId: courtcaseeventstopic
    cprdeliusoffendereventsqueue:
      queueName: cpr_delius_offender_events_queue
      subscribeTopicId: domainevents
      subscribeFilter: '{"eventType":[ "probation-case.engagement.created", "probation-case.merge.completed", "probation-case.unmerge.completed"] }'
    testqueue:
      queueName: test_queue
      subscribeTopicId: testtopic
  topics:
    courtcaseeventstopic:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}
    testtopic:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}