match-score:
  base-url: https://hmpps-person-match-score-dev.hmpps.service.justice.gov.uk

nomis-oauth:
  base-url: https://sign-in-dev.hmpps.service.justice.gov.uk

offender-search:
  base-url: https://probation-offender-search-dev.hmpps.service.justice.gov.uk

prisoner-search:
  base-url: https://prisoner-search-dev.prison.service.justice.gov.uk

domain-event-and-delius-api:
  base_url: https://domain-events-and-delius-dev.hmpps.service.justice.gov.uk

prison-service:
  base-url: http://localhost:8090

hmpps.sqs:
  enabled: true
  provider: localstack
  queues:
    cprcourtcaseeventsqueue:
      queueName: cpr_court_case_events_queue
      subscribeTopicId: courtcaseeventstopic
      dlqName: cpr_court_case_events_queue_dlq
      dlqMaxReceiveCount: 1
    cprdeliusoffendereventsqueue:
      queueName: cpr_delius_offender_events_queue
      subscribeTopicId: domainevents
      subscribeFilter: '{"eventType":[ "probation-case.engagement.created", "prisoner-offender-search.prisoner.created", "prisoner-offender-search.prisoner.updated"] }'
  topics:
    courtcaseeventstopic:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}
