person-match:
  base-url: http://localhost:5000
  client-secret: clientsecret
  client-id: hmpps-person-match

nomis-oauth:
  base-url: http://localhost:9090

prisoner-search:
  base-url: https://prisoner-search-dev.prison.service.justice.gov.uk

core-person-record-and-delius:
  base-url: https://core-person-record-and-delius-dev.hmpps.service.justice.gov.uk

service-now:
  base-url: http://localhost:9090
  sysparm-id: sysparm12345
  requestor: abcd
  requested-for: efgh

hmpps.sqs:
  enabled: true
  provider: localstack
  queues:
    cprcourtcasesqueue:
      queueName: cpr_court_cases_queue.fifo
      subscribeTopicId: courtcasestopic
      dlqName: cpr_court_cases_queue_dlq.fifo
      dlqMaxReceiveCount: 2
    cprdeliusoffendereventsqueue:
      queueName: cpr_delius_offender_events_queue
      dlqName: cpr_delius_offender_events_queue_dlq
      subscribeTopicId: domainevents
      subscribeFilter: '{"eventType":[ "probation-case.engagement.created", "probation-case.address.created", "probation-case.address.updated", "probation-case.address.deleted", "probation-case.personal-details.updated", "probation-case.alias.created","probation-case.alias.updated","probation-case.alias.deleted", "probation-case.engagement.recovered" ] }'
      dlqMaxReceiveCount: 2
    cprdeliusmergeeventsqueue:
      queueName: cpr_delius_merge_events_queue
      dlqName: cpr_delius_merge_events_queue_dlq
      subscribeTopicId: domainevents
      subscribeFilter: '{"eventType":[ "probation-case.merge.completed", "probation-case.unmerge.completed"] }'
      dlqMaxReceiveCount: 2
    cprdeliusdeleteeventsqueue:
      queueName: cpr_delius_delete_events_queue
      dlqName: cpr_delius_delete_events_queue_dlq
      subscribeTopicId: domainevents
      subscribeFilter: '{"eventType":[ "probation-case.deleted.gdpr", "probation-case.engagement.deleted" ] }'
      dlqMaxReceiveCount: 2
    cprnomiseventsqueue:
      queueName: cpr_nomis_events_queue
      dlqName: cpr_nomis_events_dlq
      subscribeTopicId: domainevents
      subscribeFilter: '{"eventType":["prisoner-offender-search.prisoner.created", "prisoner-offender-search.prisoner.updated"] }'
      dlqMaxReceiveCount: 2
    cprnomismergeeventsqueue:
      queueName: cpr_nomis_merge_events_queue
      dlqName: cpr_nomis_merge_events_queue_dlq
      subscribeTopicId: domainevents
      subscribeFilter: '{"eventType":[ "prison-offender-events.prisoner.merged"] }'
      dlqMaxReceiveCount: 2
  topics:
    courtcasestopic:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}.fifo
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}
    cprcourtcasestopic:
      arn: arn:aws:sns:eu-west-2:000000000000:${random.uuid}

spring:
  datasource:
    url: jdbc:postgresql://localhost:${SPRING_DATASOURCE_PORT:5432}/${SPRING_DATASOURCE_NAME:postgres}?currentSchema=personrecordservice&stringtype=unspecified

aws:
  endpoint: http://localhost:4566
  cpr-court-message-bucket-name: cpr-local-court-message-bucket
  region: eu-west-2
