match-score:
  base-url: https://hmpps-person-match-score-dev.hmpps.service.justice.gov.uk

nomis-oauth:
  base-url: https://sign-in-dev.hmpps.service.justice.gov.uk

prisoner-search:
  base-url: https://prisoner-search-dev.prison.service.justice.gov.uk

prison-service:
  base-url: https://prison-api-dev.prison.service.justice.gov.uk

core-person-record-and-delius:
  base-url: https://core-person-record-and-delius-dev.hmpps.service.justice.gov.uk

hmpps.sqs:
  enabled: true
  provider: localstack
  queues:
    cprcourtcaseeventsqueue:
      queueName: cpr_court_case_events_queue
      subscribeTopicId: courtcaseeventstopic
      dlqName: cpr_court_case_events_queue_dlq
      dlqMaxReceiveCount: 1
    cprdeliusoffendereventsqueue:
      queueName: cpr_delius_offender_events_queue
      dlqName: cpr_delius_offender_events_queue_dlq
      subscribeTopicId: domainevents
      subscribeFilter: '{"eventType":[ "probation-case.engagement.created", "OFFENDER_ADDRESS_CHANGED", "OFFENDER_DETAILS_CHANGED", "OFFENDER_ALIAS_CHANGED"] }'
    cprnomiseventsqueue:
      queueName: cpr_nomis_events_queue
      dlqName: cpr_nomis_events_dlq
      subscribeTopicId: domainevents
      subscribeFilter: '{"eventType":["prisoner-offender-search.prisoner.created", "prisoner-offender-search.prisoner.updated"] }'
  topics:
    courtcaseeventstopic:
      arn: arn:aws:sns:eu-west-2:000000000000:courtcaseeventstopic
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:domainevents

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=personrecordservice&user=root&password=dev&stringtype=unspecified

