<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="uk.gov.justice.digital.hmpps" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- ref: https://github.com/testcontainers/testcontainers-java/discussions/7454 -->
    <logger name="io.awspring.cloud.sqs.listener.source.AbstractPollingMessageSource" level="OFF"/>
</configuration>