---
# Per environment values which override defaults in hmpps-person-record/values.yaml

generic-service:
  ingress:
    host: hmpps-person-record.hmpps.service.justice.gov.uk
    tlsSecretName: hmpps-person-record-cert-secret

  env:
    SPRING_PROFILES_ACTIVE: "prod"
    MATCH_SCORE_BASE_URL: https://hmpps-person-match-score.hmpps.service.justice.gov.uk
    NOMIS_OAUTH_BASE_URL: https://sign-in.hmpps.service.justice.gov.uk
    OFFENDER_SEARCH_BASE_URL: https://probation-offender-search.hmpps.service.justice.gov.uk
    PRISONER_SEARCH_BASE_URL: https://prisoner-search.prison.service.justice.gov.uk
    DOMAIN_EVENT_AND_DELIUS_API_BASE_URL: https://domain-events-and-delius.hmpps.service.justice.gov.uk
    PRISON_SERVICE_BASE_URL: https://api.prison.service.justice.gov.uk
    FEATURE_FLAGS_ENABLE_HMCTS_SQS: false
    FEATURE_FLAGS_ENABLE_DELIUS_DOMAIN_EVENT_SQS: false
    
generic-prometheus-alerts:
  sqsOldestAlertQueueNames:
    - "hmpps-person-record-prod-cpr_court_case_events_queue"
    - "hmpps-person-record-prod-cpr_delius_offender_events_queue"
  sqsNumberAlertQueueNames:
    - "hmpps-person-record-prod-cpr_court_case_events_dlq"
    - "hmpps-person-record-prod-cpr_delius_offender_events_dlq"
  sqsAlertsOldestThreshold: 15
  sqsAlertsTotalMessagesThreshold: 1
