# Per environment values which override defaults in hmpps-person-record/values.yaml

generic-service:
  replicaCount: 1

  image:
    repository: quay.io/hmpps/hmpps-person-record
    tag: latest
    port: 8080

  ingress:
    enabled: true
    host: hmpps-person-record-dev.hmpps.service.justice.gov.uk
    tlsSecretName: hmpps-person-record-dev-cert-secret

  env:
    SPRING_PROFILES_ACTIVE: "dev"
    MATCH_SCORE_BASE_URL: https://hmpps-person-match-score-dev.hmpps.service.justice.gov.uk
    NOMIS_OAUTH_BASE_URL: https://sign-in-dev.hmpps.service.justice.gov.uk
    PRISONER_SEARCH_BASE_URL: https://prisoner-search-dev.prison.service.justice.gov.uk
    PRISON_SERVICE_BASE_URL: https://prison-api-dev.prison.service.justice.gov.uk
    CORE_PERSON_RECORD_AND_DELIUS_BASE_URL: https://core-person-record-and-delius-dev.hmpps.service.justice.gov.uk

  scheduledDowntime:
    enabled: true

generic-prometheus-alerts:
  businessHoursOnly: true
  sqsNumberAlertQueueNames:
    - "hmpps-person-record-development-cpr_court_case_events_dlq"
    - "hmpps-person-record-development-cpr_delius_offender_events_dlq"
    - "hmpps-person-record-development-cpr_delius_merge_events_dlq"
    - "hmpps-person-record-development-cpr_nomis_events_dlq"
    - "hmpps-person-record-development-cpr_nomis_merge_events_dlq"
  sqsAlertsTotalMessagesThreshold: 1
  rdsAlertsDatabases:
    cloud-platform-21758fcf16e3a488: "hmpps-person-record-database"

cron:
  generateTermFrequencies: "0 12 * * 1-5"