# Per environment values which override defaults in hmpps-person-record/values.yaml

generic-service:
  ingress:
    host: hmpps-person-record-preprod.hmpps.service.justice.gov.uk
    tlsSecretName: hmpps-person-record-preprod-cert-secret

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: "applicationinsights.dev.json"
    SPRING_PROFILES_ACTIVE: "preprod"
    PERSON_MATCH_BASE_URL: https://hmpps-person-match-preprod.hmpps.service.justice.gov.uk
    NOMIS_OAUTH_BASE_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk
    PRISONER_SEARCH_BASE_URL: https://prisoner-search-preprod.prison.service.justice.gov.uk
    CORE_PERSON_RECORD_AND_DELIUS_BASE_URL: https://core-person-record-and-delius-preprod.hmpps.service.justice.gov.uk
    SERVICE_NOW_BASE_URL: https://mojuat.service-now.com/

    namespace_secrets:
      hmpps-person-record-servicenow-client:
        SERVICE_NOW_CLIENT_ID: "client_id"
        SERVICE_NOW_CLIENT_SECRET: "client_secret"
        SERVICE_NOW_REQUESTED_FOR: "requested_for"
        SERVICE_NOW_REQUESTOR: "requestor"
        SERVICE_NOW_SYSPARM_ID: "sysparm_id"

  scheduledDowntime:
    enabled: true
    # Start at 6:35am UTC Monday-Friday - 5 minutes after hmpps-person-match
    startup: '35 6 * * 1-5'

generic-prometheus-alerts:
  businessHoursOnly: true
  sqsOldestAlertQueueNames:
    - "hmpps-person-record-preprod-cpr_court_cases_queue.fifo"
    - "hmpps-person-record-preprod-cpr_delius_offender_events_queue"
    - "hmpps-person-record-preprod-cpr_delius_merge_events_queue"
    - "hmpps-person-record-preprod-cpr_delius_delete_events_queue"
    - "hmpps-person-record-preprod-cpr_nomis_events_queue"
    - "hmpps-person-record-preprod-cpr_nomis_merge_events_queue"
  sqsNumberAlertQueueNames:
    - "hmpps-person-record-preprod-cpr_court_cases_dlq.fifo"
    - "hmpps-person-record-preprod-cpr_delius_offender_events_dlq"
    - "hmpps-person-record-preprod-cpr_delius_merge_events_dlq"
    - "hmpps-person-record-preprod-cpr_delius_delete_events_dlq"
    - "hmpps-person-record-preprod-cpr_nomis_events_dlq"
    - "hmpps-person-record-preprod-cpr_nomis_merge_events_dlq"
  rdsAlertsDatabases:
    cloud-platform-288cab966b34da54: "hmpps-person-record-database"

cron:
  recordCountReportJob: "0 8-17 * * 1-5"
  reclusterNeedsAttentionJob: "0 13 * * 1-5"
  generateDeliusMergeRequestsJob: "0 7 * * *"
