---
# Per environment values which override defaults in hmpps-person-record/values.yaml

generic-service:

  ingress:
    host: hmpps-person-record.hmpps.service.justice.gov.uk
    tlsSecretName: hmpps-person-record-cert-secret

  postgresDatabaseRestore:
    enabled: true
    namespace_secrets:
      hmpps-person-record-rds-instance-output:
        DB_NAME: "database_name"
        DB_USER: "database_username"
        DB_PASS: "database_password"
        DB_HOST: "rds_instance_address"
      hmpps-person-record-preprod-rds-instance-output:
        DB_NAME_PREPROD: "database_name"
        DB_USER_PREPROD: "database_username"
        DB_PASS_PREPROD: "database_password"
        DB_HOST_PREPROD: "rds_instance_address"
    env:
      SCHEMA_TO_RESTORE: "personrecordservice"
      MIGRATIONS_VENDOR: "flyway"

  env:
    SPRING_PROFILES_ACTIVE: "prod"
    PERSON_MATCH_BASE_URL: https://hmpps-person-match.hmpps.service.justice.gov.uk
    NOMIS_OAUTH_BASE_URL: https://sign-in.hmpps.service.justice.gov.uk
    PRISONER_SEARCH_BASE_URL: https://prisoner-search.prison.service.justice.gov.uk
    CORE_PERSON_RECORD_AND_DELIUS_BASE_URL: https://core-person-record-and-delius.hmpps.service.justice.gov.uk

generic-prometheus-alerts:
  sqsOldestAlertQueueNames:
    - "hmpps-person-record-prod-cpr_court_cases_queue.fifo"
    - "hmpps-person-record-prod-cpr_delius_offender_events_queue"
    - "hmpps-person-record-prod-cpr_delius_merge_events_queue"
    - "hmpps-person-record-prod-cpr_delius_delete_events_queue"
    - "hmpps-person-record-prod-cpr_nomis_events_queue"
    - "hmpps-person-record-prod-cpr_nomis_merge_events_queue"
  sqsNumberAlertQueueNames:
    - "hmpps-person-record-prod-cpr_court_cases_dlq.fifo"
    - "hmpps-person-record-prod-cpr_delius_offender_events_dlq"
    - "hmpps-person-record-prod-cpr_delius_merge_events_dlq"
    - "hmpps-person-record-prod-cpr_delius_delete_events_dlq"
    - "hmpps-person-record-prod-cpr_nomis_events_dlq"
    - "hmpps-person-record-prod-cpr_nomis_merge_events_dlq"
  rdsAlertsDatabases:
    cloud-platform-325c1d58e0fe99fe: "hmpps-person-record-database"
