---
# Per environment values which override defaults in hmpps-person-record/values.yaml

generic-service:
  replicaCount: 1

  ingress:
    host: hmpps-person-record-preprod.hmpps.service.justice.gov.uk
    tlsSecretName: hmpps-person-record-preprod-cert-secret

  env:
    SPRING_PROFILES_ACTIVE: "preprod"
    NOMIS_OAUTH_BASE_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk
    OFFENDER_SEARCH_BASE_URL: https://probation-offender-search-preprod.hmpps.service.justice.gov.uk
    PRISONER_SEARCH_BASE_URL: https://prisoner-search-preprod.prison.service.justice.gov.uk
    DOMAIN_EVENT_AND_DELIUS_API_BASE_URL: https://domain-events-and-delius-preprod.hmpps.service.justice.gov.uk
    PRISON_SERVICE_BASE_URL: https://api-preprod.prison.service.justice.gov.uk

    feature:
      flags:
        enable-hmcts-sqs: true
        enable-delius-search: true
        enable-nomis-search: true
        enable-delius-domain-event-sqs: true

  scheduledDowntime:
    enabled: true

generic-prometheus-alerts:
  businessHoursOnly: true