---
# Per environment values which override defaults in hmpps-person-record/values.yaml

generic-service:
  ingress:
    host: hmpps-person-record-preprod.hmpps.service.justice.gov.uk
    tlsSecretName: hmpps-person-record-preprod-cert-secret

  env:
    SPRING_PROFILES_ACTIVE: "preprod"
    MATCH_SCORE_BASE_URL: https://hmpps-person-match-score-preprod.hmpps.service.justice.gov.uk
    NOMIS_OAUTH_BASE_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk
    PRISONER_SEARCH_BASE_URL: https://prisoner-search-preprod.prison.service.justice.gov.uk
    PRISON_SERVICE_BASE_URL: https://prison-api-preprod.prison.service.justice.gov.uk
    CORE_PERSON_RECORD_AND_DELIUS_BASE_URL: https://core-person-record-and-delius-preprod.hmpps.service.justice.gov.uk

  scheduledDowntime:
    enabled: true

  namespace_secrets:
    sqs-cpr-court-events-secret:
      HMPPS_SQS_QUEUES_CPRCOURTEVENTSQUEUE_QUEUE_NAME: "sqs_queue_name"
    sqs-cpr-court-events-dlq-secret:
      HMPPS_SQS_QUEUES_CPRCOURTEVENTSQUEUE_DLQ_NAME: "sqs_queue_name"

generic-prometheus-alerts:
  businessHoursOnly: true
  sqsOldestAlertQueueNames:
    - "hmpps-person-record-preprod-cpr_court_case_events_queue"
    - "hmpps-person-record-preprod-cpr_delius_offender_events_queue"
    - "hmpps-person-record-preprod-cpr_nomis_events_queue"
  sqsNumberAlertQueueNames:
    - "hmpps-person-record-preprod-cpr_court_case_events_dlq"
    - "hmpps-person-record-preprod-cpr_delius_offender_events_dlq"
    - "hmpps-person-record-preprod-cpr_nomis_events_dlq"
  sqsAlertsTotalMessagesThreshold: 1
  rdsAlertsDatabases:
    cloud-platform-288cab966b34da54: "hmpps-person-record-database"